@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  @apply border-current;
  border-bottom-color: transparent;
  animation: rotate 1s linear infinite;
}
