@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply flex flex-col w-full h-full;
  @apply bg-neutral-200 text-neutral-800;
  font-size: 16px;
}

@media screen(sm) {
  html {
    font-size: 18px;
  }
}
@media screen(md) {
  html {
    font-size: 20px;
  }
}
@media screen(lg) {
  html {
    font-size: 22px;
  }
}

body {
  @apply text-base;
}

svg {
  @apply block fill-current;
}
